

.container
{
margin-top: 25vh;
}
table { 
    margin-left: auto; 
    margin-right: auto; 
    /* padding: 1rem; */
    border: none;
} 

input[type="button"] { 
    width: 60px;
    height: 60px;
    margin: 5px; 
    background-color: green; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 50%; 
cursor: pointer;
} 
input[type="text"] { 
    margin: 10px;
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px; 
    border: 2px solid black; 
} 